.Temtem {
    display: flex;
    margin: auto;
    max-width: 800px;
    height: 100%;
    border: 1px solid black;
    padding: 2rem;

    .splash-art {
        display: flex;
        flex-direction: column;
        border: 1px solid #FFF;
        height: max-content;

        .name {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #FFF;
            padding: 10px;
        }
        img {
            width: 150px;
            margin: 20px;
        }
    }
}