$neutral: #e6f7f7;
$fire: #e85c4e;
$water: #45cbff;
$nature: #adde77;
$electric: #ffe174;
$earth: #ba795c;
$mental: #c369a3;
$wind: #08fab3;
$digital: #a4c0c1;
$melee: #fa9260;
$crystal: #ea4a68;
$toxic: #5c565c;

$null: #60606011;

.Temcard {
	color: inherit;
	width: 225px;
	height: 275px;
	border: 5px solid;
	border-image-slice: 1;
	position: relative;
	margin: auto;
	padding: 50px;
	transition: all 0.1s;
	text-decoration: none;

	.types-bar {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 30px;
		display: flex;
		align-items: flex-end;

		img:not(:first-child) {
			margin-left: -10px;
			width: 30px;
			height: 30px;
		}

		img:first-child {
			height: 40px;
			width: 40px;
		}
	}

	.tem-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		img {
			width: 100%;
			border: 1px solid;
		}
	}

	.name {
		width: 100%;
		border: 1px solid;
		border-top: none;
		text-align: center;
	}

	&:hover {
		color: inherit;
		transform: scale(1.05, 1.05);
	}
}