$neutral: #e6f7f7;
$fire: #e85c4e;
$water: #45cbff;
$nature: #adde77;
$electric: #ffe174;
$earth: #ba795c;
$mental: #c369a3;
$wind: #08fab3;
$digital: #a4c0c1;
$melee: #fa9260;
$crystal: #ea4a68;
$toxic: #5c565c;

$null: #60606011;

.Temcard {
	color: inherit;
	width: 225px;
	height: 275px;
	border: 5px solid;
	border-image-slice: 1;
	// border-image-source: linear-gradient(to bottom right, #5c565c, #ffe174);
	position: relative;
	margin: auto;
	padding: 50px;
	// background: #202020;
	// background: ;
	transition: all 0.1s;

	.types-bar {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 30px;
		display: flex;
		align-items: flex-end;

		img:not(:first-child) {
			margin-left: -10px;
			width: 30px;
			height: 30px;
		}

		img:first-child {
			height: 40px;
			width: 40px;
		}
	}

	.tem-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		img {
			width: 100%;
			border: 1px solid;
		}
	}

	.name {
		width: 100%;
		border: 1px solid;
		border-top: none;
		text-align: center;
	}

	&:hover {
		color: inherit;
		transform: scale(1.05, 1.05);
	}
}

.neutral-fire {
	border-image-source: linear-gradient(to bottom, $neutral, $fire);
	.tem-info img,
	.name {
		border-color: $neutral;
	}
}
.neutral-water {
	border-image-source: linear-gradient(to bottom, $neutral, $water);
	.tem-info img,
	.name {
		border-color: $neutral;
	}
}
.neutral-nature {
	border-image-source: linear-gradient(to bottom, $neutral, $nature);
	.tem-info img,
	.name {
		border-color: $neutral;
	}
}
.neutral-electric {
	border-image-source: linear-gradient(to bottom, $neutral, $electric);
	.tem-info img,
	.name {
		border-color: $neutral;
	}
}
.neutral-earth {
	border-image-source: linear-gradient(to bottom, $neutral, $earth);
	.tem-info img,
	.name {
		border-color: $neutral;
	}
}
.neutral-mental {
	border-image-source: linear-gradient(to bottom, $neutral, $mental);
	.tem-info img,
	.name {
		border-color: $neutral;
	}
}
.neutral-wind {
	border-image-source: linear-gradient(to bottom, $neutral, $wind);
	.tem-info img,
	.name {
		border-color: $neutral;
	}
}
.neutral-digital {
	border-image-source: linear-gradient(to bottom, $neutral, $digital);
	.tem-info img,
	.name {
		border-color: $neutral;
	}
}
.neutral-melee {
	border-image-source: linear-gradient(to bottom, $neutral, $melee);
	.tem-info img,
	.name {
		border-color: $neutral;
	}
}
.neutral-crystal {
	border-image-source: linear-gradient(to bottom, $neutral, $crystal);
	.tem-info img,
	.name {
		border-color: $neutral;
	}
}
.neutral-toxic {
	border-image-source: linear-gradient(to bottom, $neutral, $toxic);
	.tem-info img,
	.name {
		border-color: $neutral;
	}
}
.fire-neutral {
	border-image-source: linear-gradient(to bottom, $fire, $neutral);
	.tem-info img,
	.name {
		border-color: $fire;
	}
}
.fire-water {
	border-image-source: linear-gradient(to bottom, $fire, $water);
	.tem-info img,
	.name {
		border-color: $fire;
	}
}
.fire-nature {
	border-image-source: linear-gradient(to bottom, $fire, $nature);
	.tem-info img,
	.name {
		border-color: $fire;
	}
}
.fire-electric {
	border-image-source: linear-gradient(to bottom, $fire, $electric);
	.tem-info img,
	.name {
		border-color: $fire;
	}
}
.fire-earth {
	border-image-source: linear-gradient(to bottom, $fire, $earth);
	.tem-info img,
	.name {
		border-color: $fire;
	}
}
.fire-mental {
	border-image-source: linear-gradient(to bottom, $fire, $mental);
	.tem-info img,
	.name {
		border-color: $fire;
	}
}
.fire-wind {
	border-image-source: linear-gradient(to bottom, $fire, $wind);
	.tem-info img,
	.name {
		border-color: $fire;
	}
}
.fire-digital {
	border-image-source: linear-gradient(to bottom, $fire, $digital);
	.tem-info img,
	.name {
		border-color: $fire;
	}
}
.fire-melee {
	border-image-source: linear-gradient(to bottom, $fire, $melee);
	.tem-info img,
	.name {
		border-color: $fire;
	}
}
.fire-crystal {
	border-image-source: linear-gradient(to bottom, $fire, $crystal);
	.tem-info img,
	.name {
		border-color: $fire;
	}
}
.fire-toxic {
	border-image-source: linear-gradient(to bottom, $fire, $toxic);
	.tem-info img,
	.name {
		border-color: $fire;
	}
}
.water-neutral {
	border-image-source: linear-gradient(to bottom, $water, $neutral);
	.tem-info img,
	.name {
		border-color: $water;
	}
}
.water-fire {
	border-image-source: linear-gradient(to bottom, $water, $fire);
	.tem-info img,
	.name {
		border-color: $water;
	}
}
.water-nature {
	border-image-source: linear-gradient(to bottom, $water, $nature);
	.tem-info img,
	.name {
		border-color: $water;
	}
}
.water-electric {
	border-image-source: linear-gradient(to bottom, $water, $electric);
	.tem-info img,
	.name {
		border-color: $water;
	}
}
.water-earth {
	border-image-source: linear-gradient(to bottom, $water, $earth);
	.tem-info img,
	.name {
		border-color: $water;
	}
}
.water-mental {
	border-image-source: linear-gradient(to bottom, $water, $mental);
	.tem-info img,
	.name {
		border-color: $water;
	}
}
.water-wind {
	border-image-source: linear-gradient(to bottom, $water, $wind);
	.tem-info img,
	.name {
		border-color: $water;
	}
}
.water-digital {
	border-image-source: linear-gradient(to bottom, $water, $digital);
	.tem-info img,
	.name {
		border-color: $water;
	}
}
.water-melee {
	border-image-source: linear-gradient(to bottom, $water, $melee);
	.tem-info img,
	.name {
		border-color: $water;
	}
}
.water-crystal {
	border-image-source: linear-gradient(to bottom, $water, $crystal);
	.tem-info img,
	.name {
		border-color: $water;
	}
}
.water-toxic {
	border-image-source: linear-gradient(to bottom, $water, $toxic);
	.tem-info img,
	.name {
		border-color: $water;
	}
}
.nature-neutral {
	border-image-source: linear-gradient(to bottom, $nature, $neutral);
	.tem-info img,
	.name {
		border-color: $nature;
	}
}
.nature-fire {
	border-image-source: linear-gradient(to bottom, $nature, $fire);
	.tem-info img,
	.name {
		border-color: $nature;
	}
}
.nature-water {
	border-image-source: linear-gradient(to bottom, $nature, $water);
	.tem-info img,
	.name {
		border-color: $nature;
	}
}
.nature-electric {
	border-image-source: linear-gradient(to bottom, $nature, $electric);
	.tem-info img,
	.name {
		border-color: $nature;
	}
}
.nature-earth {
	border-image-source: linear-gradient(to bottom, $nature, $earth);
	.tem-info img,
	.name {
		border-color: $nature;
	}
}
.nature-mental {
	border-image-source: linear-gradient(to bottom, $nature, $mental);
	.tem-info img,
	.name {
		border-color: $nature;
	}
}
.nature-wind {
	border-image-source: linear-gradient(to bottom, $nature, $wind);
	.tem-info img,
	.name {
		border-color: $nature;
	}
}
.nature-digital {
	border-image-source: linear-gradient(to bottom, $nature, $digital);
	.tem-info img,
	.name {
		border-color: $nature;
	}
}
.nature-melee {
	border-image-source: linear-gradient(to bottom, $nature, $melee);
	.tem-info img,
	.name {
		border-color: $nature;
	}
}
.nature-crystal {
	border-image-source: linear-gradient(to bottom, $nature, $crystal);
	.tem-info img,
	.name {
		border-color: $nature;
	}
}
.nature-toxic {
	border-image-source: linear-gradient(to bottom, $nature, $toxic);
	.tem-info img,
	.name {
		border-color: $nature;
	}
}
.electric-neutral {
	border-image-source: linear-gradient(to bottom, $electric, $neutral);
	.tem-info img,
	.name {
		border-color: $electric;
	}
}
.electric-fire {
	border-image-source: linear-gradient(to bottom, $electric, $fire);
	.tem-info img,
	.name {
		border-color: $electric;
	}
}
.electric-water {
	border-image-source: linear-gradient(to bottom, $electric, $water);
	.tem-info img,
	.name {
		border-color: $electric;
	}
}
.electric-nature {
	border-image-source: linear-gradient(to bottom, $electric, $nature);
	.tem-info img,
	.name {
		border-color: $electric;
	}
}
.electric-earth {
	border-image-source: linear-gradient(to bottom, $electric, $earth);
	.tem-info img,
	.name {
		border-color: $electric;
	}
}
.electric-mental {
	border-image-source: linear-gradient(to bottom, $electric, $mental);
	.tem-info img,
	.name {
		border-color: $electric;
	}
}
.electric-wind {
	border-image-source: linear-gradient(to bottom, $electric, $wind);
	.tem-info img,
	.name {
		border-color: $electric;
	}
}
.electric-digital {
	border-image-source: linear-gradient(to bottom, $electric, $digital);
	.tem-info img,
	.name {
		border-color: $electric;
	}
}
.electric-melee {
	border-image-source: linear-gradient(to bottom, $electric, $melee);
	.tem-info img,
	.name {
		border-color: $electric;
	}
}
.electric-crystal {
	border-image-source: linear-gradient(to bottom, $electric, $crystal);
	.tem-info img,
	.name {
		border-color: $electric;
	}
}
.electric-toxic {
	border-image-source: linear-gradient(to bottom, $electric, $toxic);
	.tem-info img,
	.name {
		border-color: $electric;
	}
}
.earth-neutral {
	border-image-source: linear-gradient(to bottom, $earth, $neutral);
	.tem-info img,
	.name {
		border-color: $earth;
	}
}
.earth-fire {
	border-image-source: linear-gradient(to bottom, $earth, $fire);
	.tem-info img,
	.name {
		border-color: $earth;
	}
}
.earth-water {
	border-image-source: linear-gradient(to bottom, $earth, $water);
	.tem-info img,
	.name {
		border-color: $earth;
	}
}
.earth-nature {
	border-image-source: linear-gradient(to bottom, $earth, $nature);
	.tem-info img,
	.name {
		border-color: $earth;
	}
}
.earth-electric {
	border-image-source: linear-gradient(to bottom, $earth, $electric);
	.tem-info img,
	.name {
		border-color: $earth;
	}
}
.earth-mental {
	border-image-source: linear-gradient(to bottom, $earth, $mental);
	.tem-info img,
	.name {
		border-color: $earth;
	}
}
.earth-wind {
	border-image-source: linear-gradient(to bottom, $earth, $wind);
	.tem-info img,
	.name {
		border-color: $earth;
	}
}
.earth-digital {
	border-image-source: linear-gradient(to bottom, $earth, $digital);
	.tem-info img,
	.name {
		border-color: $earth;
	}
}
.earth-melee {
	border-image-source: linear-gradient(to bottom, $earth, $melee);
	.tem-info img,
	.name {
		border-color: $earth;
	}
}
.earth-crystal {
	border-image-source: linear-gradient(to bottom, $earth, $crystal);
	.tem-info img,
	.name {
		border-color: $earth;
	}
}
.earth-toxic {
	border-image-source: linear-gradient(to bottom, $earth, $toxic);
	.tem-info img,
	.name {
		border-color: $earth;
	}
}
.mental-neutral {
	border-image-source: linear-gradient(to bottom, $mental, $neutral);
	.tem-info img,
	.name {
		border-color: $mental;
	}
}
.mental-fire {
	border-image-source: linear-gradient(to bottom, $mental, $fire);
	.tem-info img,
	.name {
		border-color: $mental;
	}
}
.mental-water {
	border-image-source: linear-gradient(to bottom, $mental, $water);
	.tem-info img,
	.name {
		border-color: $mental;
	}
}
.mental-nature {
	border-image-source: linear-gradient(to bottom, $mental, $nature);
	.tem-info img,
	.name {
		border-color: $mental;
	}
}
.mental-electric {
	border-image-source: linear-gradient(to bottom, $mental, $electric);
	.tem-info img,
	.name {
		border-color: $mental;
	}
}
.mental-earth {
	border-image-source: linear-gradient(to bottom, $mental, $earth);
	.tem-info img,
	.name {
		border-color: $mental;
	}
}
.mental-wind {
	border-image-source: linear-gradient(to bottom, $mental, $wind);
	.tem-info img,
	.name {
		border-color: $mental;
	}
}
.mental-digital {
	border-image-source: linear-gradient(to bottom, $mental, $digital);
	.tem-info img,
	.name {
		border-color: $mental;
	}
}
.mental-melee {
	border-image-source: linear-gradient(to bottom, $mental, $melee);
	.tem-info img,
	.name {
		border-color: $mental;
	}
}
.mental-crystal {
	border-image-source: linear-gradient(to bottom, $mental, $crystal);
	.tem-info img,
	.name {
		border-color: $mental;
	}
}
.mental-toxic {
	border-image-source: linear-gradient(to bottom, $mental, $toxic);
	.tem-info img,
	.name {
		border-color: $mental;
	}
}
.wind-neutral {
	border-image-source: linear-gradient(to bottom, $wind, $neutral);
	.tem-info img,
	.name {
		border-color: $wind;
	}
}
.wind-fire {
	border-image-source: linear-gradient(to bottom, $wind, $fire);
	.tem-info img,
	.name {
		border-color: $wind;
	}
}
.wind-water {
	border-image-source: linear-gradient(to bottom, $wind, $water);
	.tem-info img,
	.name {
		border-color: $wind;
	}
}
.wind-nature {
	border-image-source: linear-gradient(to bottom, $wind, $nature);
	.tem-info img,
	.name {
		border-color: $wind;
	}
}
.wind-electric {
	border-image-source: linear-gradient(to bottom, $wind, $electric);
	.tem-info img,
	.name {
		border-color: $wind;
	}
}
.wind-earth {
	border-image-source: linear-gradient(to bottom, $wind, $earth);
	.tem-info img,
	.name {
		border-color: $wind;
	}
}
.wind-mental {
	border-image-source: linear-gradient(to bottom, $wind, $mental);
	.tem-info img,
	.name {
		border-color: $wind;
	}
}
.wind-digital {
	border-image-source: linear-gradient(to bottom, $wind, $digital);
	.tem-info img,
	.name {
		border-color: $wind;
	}
}
.wind-melee {
	border-image-source: linear-gradient(to bottom, $wind, $melee);
	.tem-info img,
	.name {
		border-color: $wind;
	}
}
.wind-crystal {
	border-image-source: linear-gradient(to bottom, $wind, $crystal);
	.tem-info img,
	.name {
		border-color: $wind;
	}
}
.wind-toxic {
	border-image-source: linear-gradient(to bottom, $wind, $toxic);
	.tem-info img,
	.name {
		border-color: $wind;
	}
}
.digital-neutral {
	border-image-source: linear-gradient(to bottom, $digital, $neutral);
	.tem-info img,
	.name {
		border-color: $digital;
	}
}
.digital-fire {
	border-image-source: linear-gradient(to bottom, $digital, $fire);
	.tem-info img,
	.name {
		border-color: $digital;
	}
}
.digital-water {
	border-image-source: linear-gradient(to bottom, $digital, $water);
	.tem-info img,
	.name {
		border-color: $digital;
	}
}
.digital-nature {
	border-image-source: linear-gradient(to bottom, $digital, $nature);
	.tem-info img,
	.name {
		border-color: $digital;
	}
}
.digital-electric {
	border-image-source: linear-gradient(to bottom, $digital, $electric);
	.tem-info img,
	.name {
		border-color: $digital;
	}
}
.digital-earth {
	border-image-source: linear-gradient(to bottom, $digital, $earth);
	.tem-info img,
	.name {
		border-color: $digital;
	}
}
.digital-mental {
	border-image-source: linear-gradient(to bottom, $digital, $mental);
	.tem-info img,
	.name {
		border-color: $digital;
	}
}
.digital-wind {
	border-image-source: linear-gradient(to bottom, $digital, $wind);
	.tem-info img,
	.name {
		border-color: $digital;
	}
}
.digital-melee {
	border-image-source: linear-gradient(to bottom, $digital, $melee);
	.tem-info img,
	.name {
		border-color: $digital;
	}
}
.digital-crystal {
	border-image-source: linear-gradient(to bottom, $digital, $crystal);
	.tem-info img,
	.name {
		border-color: $digital;
	}
}
.digital-toxic {
	border-image-source: linear-gradient(to bottom, $digital, $toxic);
	.tem-info img,
	.name {
		border-color: $digital;
	}
}
.melee-neutral {
	border-image-source: linear-gradient(to bottom, $melee, $neutral);
	.tem-info img,
	.name {
		border-color: $melee;
	}
}
.melee-fire {
	border-image-source: linear-gradient(to bottom, $melee, $fire);
	.tem-info img,
	.name {
		border-color: $melee;
	}
}
.melee-water {
	border-image-source: linear-gradient(to bottom, $melee, $water);
	.tem-info img,
	.name {
		border-color: $melee;
	}
}
.melee-nature {
	border-image-source: linear-gradient(to bottom, $melee, $nature);
	.tem-info img,
	.name {
		border-color: $melee;
	}
}
.melee-electric {
	border-image-source: linear-gradient(to bottom, $melee, $electric);
	.tem-info img,
	.name {
		border-color: $melee;
	}
}
.melee-earth {
	border-image-source: linear-gradient(to bottom, $melee, $earth);
	.tem-info img,
	.name {
		border-color: $melee;
	}
}
.melee-mental {
	border-image-source: linear-gradient(to bottom, $melee, $mental);
	.tem-info img,
	.name {
		border-color: $melee;
	}
}
.melee-wind {
	border-image-source: linear-gradient(to bottom, $melee, $wind);
	.tem-info img,
	.name {
		border-color: $melee;
	}
}
.melee-digital {
	border-image-source: linear-gradient(to bottom, $melee, $digital);
	.tem-info img,
	.name {
		border-color: $melee;
	}
}
.melee-crystal {
	border-image-source: linear-gradient(to bottom, $melee, $crystal);
	.tem-info img,
	.name {
		border-color: $melee;
	}
}
.melee-toxic {
	border-image-source: linear-gradient(to bottom, $melee, $toxic);
	.tem-info img,
	.name {
		border-color: $melee;
	}
}
.crystal-neutral {
	border-image-source: linear-gradient(to bottom, $crystal, $neutral);
	.tem-info img,
	.name {
		border-color: $crystal;
	}
}
.crystal-fire {
	border-image-source: linear-gradient(to bottom, $crystal, $fire);
	.tem-info img,
	.name {
		border-color: $crystal;
	}
}
.crystal-water {
	border-image-source: linear-gradient(to bottom, $crystal, $water);
	.tem-info img,
	.name {
		border-color: $crystal;
	}
}
.crystal-nature {
	border-image-source: linear-gradient(to bottom, $crystal, $nature);
	.tem-info img,
	.name {
		border-color: $crystal;
	}
}
.crystal-electric {
	border-image-source: linear-gradient(to bottom, $crystal, $electric);
	.tem-info img,
	.name {
		border-color: $crystal;
	}
}
.crystal-earth {
	border-image-source: linear-gradient(to bottom, $crystal, $earth);
	.tem-info img,
	.name {
		border-color: $crystal;
	}
}
.crystal-mental {
	border-image-source: linear-gradient(to bottom, $crystal, $mental);
	.tem-info img,
	.name {
		border-color: $crystal;
	}
}
.crystal-wind {
	border-image-source: linear-gradient(to bottom, $crystal, $wind);
	.tem-info img,
	.name {
		border-color: $crystal;
	}
}
.crystal-digital {
	border-image-source: linear-gradient(to bottom, $crystal, $digital);
	.tem-info img,
	.name {
		border-color: $crystal;
	}
}
.crystal-melee {
	border-image-source: linear-gradient(to bottom, $crystal, $melee);
	.tem-info img,
	.name {
		border-color: $crystal;
	}
}
.crystal-toxic {
	border-image-source: linear-gradient(to bottom, $crystal, $toxic);
	.tem-info img,
	.name {
		border-color: $crystal;
	}
}
.toxic-neutral {
	border-image-source: linear-gradient(to bottom, $toxic, $neutral);
	.tem-info img,
	.name {
		border-color: $toxic;
	}
}
.toxic-fire {
	border-image-source: linear-gradient(to bottom, $toxic, $fire);
	.tem-info img,
	.name {
		border-color: $toxic;
	}
}
.toxic-water {
	border-image-source: linear-gradient(to bottom, $toxic, $water);
	.tem-info img,
	.name {
		border-color: $toxic;
	}
}
.toxic-nature {
	border-image-source: linear-gradient(to bottom, $toxic, $nature);
	.tem-info img,
	.name {
		border-color: $toxic;
	}
}
.toxic-electric {
	border-image-source: linear-gradient(to bottom, $toxic, $electric);
	.tem-info img,
	.name {
		border-color: $toxic;
	}
}
.toxic-earth {
	border-image-source: linear-gradient(to bottom, $toxic, $earth);
	.tem-info img,
	.name {
		border-color: $toxic;
	}
}
.toxic-mental {
	border-image-source: linear-gradient(to bottom, $toxic, $mental);
	.tem-info img,
	.name {
		border-color: $toxic;
	}
}
.toxic-wind {
	border-image-source: linear-gradient(to bottom, $toxic, $wind);
	.tem-info img,
	.name {
		border-color: $toxic;
	}
}
.toxic-digital {
	border-image-source: linear-gradient(to bottom, $toxic, $digital);
	.tem-info img,
	.name {
		border-color: $toxic;
	}
}
.toxic-melee {
	border-image-source: linear-gradient(to bottom, $toxic, $melee);
	.tem-info img,
	.name {
		border-color: $toxic;
	}
}
.toxic-crystal {
	border-image-source: linear-gradient(to bottom, $toxic, $crystal);
	.tem-info img,
	.name {
		border-color: $toxic;
	}
}
.neutral {
	border-image-source: linear-gradient(to bottom, $neutral, $neutral);
	.tem-info img,
	.name {
		border-color: $neutral;
	}
}
.fire {
	border-image-source: linear-gradient(to bottom, $fire, $fire);
	.tem-info img,
	.name {
		border-color: $fire;
	}
}
.water {
	border-image-source: linear-gradient(to bottom, $water, $water);
	.tem-info img,
	.name {
		border-color: $water;
	}
}
.nature {
	border-image-source: linear-gradient(to bottom, $nature, $nature);
	.tem-info img,
	.name {
		border-color: $nature;
	}
}
.electric {
	border-image-source: linear-gradient(to bottom, $electric, $electric);
	.tem-info img,
	.name {
		border-color: $electric;
	}
}
.earth {
	border-image-source: linear-gradient(to bottom, $earth, $earth);
	.tem-info img,
	.name {
		border-color: $earth;
	}
}
.mental {
	border-image-source: linear-gradient(to bottom, $mental, $mental);
	.tem-info img,
	.name {
		border-color: $mental;
	}
}
.wind {
	border-image-source: linear-gradient(to bottom, $wind, $wind);
	.tem-info img,
	.name {
		border-color: $wind;
	}
}
.digital {
	border-image-source: linear-gradient(to bottom, $digital, $digital);
	.tem-info img,
	.name {
		border-color: $digital;
	}
}
.melee {
	border-image-source: linear-gradient(to bottom, $melee, $melee);
	.tem-info img,
	.name {
		border-color: $melee;
	}
}
.crystal {
	border-image-source: linear-gradient(to bottom, $crystal, $crystal);
	.tem-info img,
	.name {
		border-color: $crystal;
	}
}
.toxic {
	border-image-source: linear-gradient(to bottom, $toxic, $toxic);
	.tem-info img,
	.name {
		border-color: $toxic;
	}
}
